.Home{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-bottom: 60px;

    .leftSide{
        display: flex;
        flex-direction: column;
        margin-top: 98px;
        margin-left: 100px;
        width: 40%;

        header{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;

            .logo{
                color: var(--secondary-color);
                font-size: 24px;
                font-weight: 700;
            }

            .listItem{
                color: var(--primary-color);
                font-weight: 600;
                font-size: 12px;

                ul{
                    list-style: none;
                    display: flex;
                    flex-direction: row;
                    width: 300px;
                    justify-content: space-between;

                    li{
                        cursor: pointer;
                    }
                }
            }
        }
        .title{
            font-weight: 600;
            font-size: 64px;
            margin: 150px 107px 40px 0;
            line-height: 87px;
            color: var(--primary-color);
            font-style: normal;
        }
        .subtitle{
            color: var(--grey);
            margin-right: 40px;
            font-weight: 400;
            font-size: 16px;
        }
        button{
            width: fit-content;
            border: none;
            outline: none;
            background-color: var(--white);
            color: var(--primary-color);
            font-weight: 700;
            font-size: 14px;
            line-height: 22px;

            display: flex;
            align-items: center;
            padding: 15px;
            gap: 10px;
            margin-top: 40px;
        }
    }
    .rightSide{
        height: min-content;

        img{
            height: 710px;
            width: auto;
        }
    }
}